@page "/profiles/create"
@inject HttpClient Http
@inject NavigationManager NavManager
@using System.Text.Json.Serialization
@using PSA.Shared



<PageTitle>Profile Creation</PageTitle>



<EditForm Model="@profile" OnValidSubmit="@HandleValidSubmit">
    <div class="row justify-content-center">
        <div class="col-lg-8">

                <div class="mb-3">
                    <label for="uname"><b>Username</b></label>
                    <input class="form-control" id="uname" @bind="@profile.nickname" placeholder="Enter Username" type="text" name="uname" required>
                </div>
                <div class="mb-3">
                    <label for="name"><b>Name</b></label>
                    <input class="form-control" id="name" @bind="@profile.name" placeholder="Enter your name" name="name" required>
                </div>
                <div class="mb-3">
                    <label for="last_name"><b>Last Name</b></label>
                    <input class="form-control" id="last_name" @bind="@profile.last_name" placeholder="Enter your last name" name="last_name" required>
                </div>
                <div class="mb-3">
                    <label for="city"><b>City</b></label>
                    <input class="form-control" id="city" @bind="@profile.city" placeholder="Enter city" name="city" required>
                </div>
                <div class="mb-3">
                    <label for="post_code"><b>Postal Code</b></label>
                    <input class="form-control" id="post_code" @bind="@profile.post_code" placeholder="Enter your postal code" name="post_code" required>
                </div>
                 <div class="mb-3">
                    <label for="birthdate"><b>Birth Date</b></label>
                    <input class="form-control" id="birthdate" @bind="@profile.birthdate" format-value="yyyy-MM-dd" name="birthdate" placeholder="Your birthdate yyyy-MM-dd" required>
                </div>
                <div class="mb-3">
                    <label for="email"><b>Contact Email</b></label>
                    <input class="form-control" id="email" @bind="@profile.email" placeholder="Enter your contact email" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="password"><b>Password</b></label>
                    <input class="form-control" id="password" @bind="@profile.password" placeholder="Enter Password" name="password" required>
                </div>
                <div class="single_product_text text-center">
                    <button class="btn" type="submit">Create User</button>
                </div>
            
        </div>
    </div>
</EditForm>





@code {
    public ProfileCreation profile = new();
    public CurrentUser? currentUser = null;

    public async Task HandleValidSubmit()
    {
        var response = await Http.PostAsJsonAsync("api/auth/register", profile);
        currentUser = await response.Content.ReadFromJsonAsync<CurrentUser>();
        NavManager.NavigateTo("/", forceLoad: true);
    }
}
