@page "/robot/automatic/generated"
@using PSA.Shared
@using System.Text.Json
@using System.Text.Json.Serialization
@using Microsoft.Extensions.Logging
@inject HttpClient Http
@inject NavigationManager NavManager

<PageTitle>Generated Robot</PageTitle>

@*@if (robotParts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="col-xl-2 col-lg-2 col-md-2">
        <div class="single-product mb-60">
            <div class="product-img">
                @if (robotParts.Head != 0)
                {
                    <img class="small-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLsyVV7Td3k72Onpm6oEiDodRrjT3J6nNpQA&usqp=CAU" alt="" style="width: 150px" />
                }
                else
                {
                    <img class="small-img" src="@selectedProducts[0].Picture" alt="" />
                }
            </div>
            <div class="product-caption">
                <h4><a href="/products/Galva" placeholder="Pasirinkti...">HHHHH</a></h4>
                <div class="price">
                    <ul>
                        <li placeholder="0€">@selectedProducts[0].Price€</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}*@
@if (robotParts == null)
{
    <p><em>Loading...</em></p>
}
else if (!robotParts.Nickname.Equals("Unable"))
{
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="row">
                <div class="col-xl-2 col-lg-2 col-md-2">
                    <div class="single-product mb-60">
                        @if (robotParts.Head == 0)
                        {
                            <img class="small-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLsyVV7Td3k72Onpm6oEiDodRrjT3J6nNpQA&usqp=CAU" alt="" style="width: 150px" />
                            <div class="product-caption">
                                <h4><a href="/products/3" placeholder="Choose Head">Choose Head</a></h4>
                                <div class="price">
                                    <ul>
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                        }
                        else
                        {
                            <img class="small-img" src="@pictures[3]" alt="" style="width: 150px" />

                            <div class="product-caption">
                                <h4><a href="/products/3" placeholder="Choose Head">@names[3]</a></h4>
                                <div class="price">
                                    <ul>
                                        <li>@prices[3] €</li>
                                    </ul>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2">
                    <div class="single-product mb-60">
                        @if (robotParts.Body == 0)
                        {
                            <img class="small-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLsyVV7Td3k72Onpm6oEiDodRrjT3J6nNpQA&usqp=CAU" alt="" style="width: 150px" />
                            <div class="product-caption">
                                <h4><a href="/products/7" placeholder="Choose Body">Choose Body</a></h4>
                                <div class="price">
                                    <ul>
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                        }
                        else
                        {
                            <img class="small-img" src="@pictures[7]" alt="" style="width: 150px" />

                            <div class="product-caption">
                                <h4><a href="/products/7" placeholder="Choose Body">@names[7]</a></h4>
                                <div class="price">
                                    <ul>
                                        <li>@prices[7] €</li>
                                    </ul>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2">
                    <div class="single-product mb-60">
                        @if (robotParts.LeftArm == 0)
                        {
                            <img class="small-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLsyVV7Td3k72Onpm6oEiDodRrjT3J6nNpQA&usqp=CAU" alt="" style="width: 150px" />
                            <div class="product-caption">
                                <h4><a href="/products/4" placeholder="Choose Left Arm">Choose Left Arm</a></h4>
                                <div class="price">
                                    <ul>
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                        }
                        else
                        {
                            <img class="small-img" src="@pictures[4]" alt="" style="width: 150px" />
                            <div class="product-caption">
                                <h4><a href="/products/4" placeholder="Choose Left Arm">@names[4]</a></h4>
                                <div class="price">
                                    <ul>
                                        <li>@prices[4] €</li>
                                    </ul>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2">
                    <div class="single-product mb-60">
                        @if (robotParts.RightArm == 0)
                        {
                            <img class="small-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLsyVV7Td3k72Onpm6oEiDodRrjT3J6nNpQA&usqp=CAU" alt="" style="width: 150px" />
                            <div class="product-caption">
                                <h4><a href="/products/5" placeholder="Choose Right Arm">Choose Right Arm</a></h4>
                                <div class="price">
                                    <ul>
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                        }
                        else
                        {
                            <img class="small-img" src="@pictures[5]" alt="" style="width: 150px" />
                            <div class="product-caption">
                                <h4><a href="/products/5" placeholder="Choose Right Arm">@names[5]</a></h4>
                                <div class="price">
                                    <ul>
                                        <li>@prices[5] €</li>
                                    </ul>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2">
                    <div class="single-product mb-60">
                        @if (robotParts.LeftLeg == 0)
                        {
                            <img class="small-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLsyVV7Td3k72Onpm6oEiDodRrjT3J6nNpQA&usqp=CAU" alt="" style="width: 150px" />
                            <div class="product-caption">
                                <h4><a href="/products/6" placeholder="Choose Left Leg">Choose Left Leg</a></h4>
                                <div class="price">
                                    <ul>
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                        }
                        else
                        {
                            <img class="small-img" src="@pictures[6]" alt="" style="width: 150px" />

                            <div class="product-caption">
                                <h4><a href="/products/6" placeholder="Choose Left Leg">@names[6]</a></h4>
                                <div class="price">
                                    <ul>
                                        <li>@prices[6] €</li>
                                    </ul>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2">
                    <div class="single-product mb-60">
                        @if (robotParts.RightLeg == 0)
                        {
                            <img class="small-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLsyVV7Td3k72Onpm6oEiDodRrjT3J6nNpQA&usqp=CAU" alt="" style="width: 150px" />
                            <div class="product-caption">
                                <h4><a href="/products/2" placeholder="Choose Right Leg">Choose Right Leg</a></h4>
                                <div class="price">
                                    <ul>
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                        }
                        else
                        {
                            <img class="small-img" src="@pictures[2]" alt="" style="width: 150px" />
                            <div class="product-caption">
                                <h4><a href="/products/2" placeholder="Choose Right Leg">@names[2]</a></h4>
                                <div class="price">
                                    <ul>
                                        <li>@prices[2] €</li>
                                    </ul>
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>
        <div class="mb-3">
            <label for="Nickname"><b>Robot Name</b></label>
            <input class="form-control" id="Nickname" @bind="@robotParts.Nickname" placeholder="Robot" type="text" name="Nickname">
        </div>
        <a class="btn btn-primary" @onclick="() => AddToCart()">Buy and Build</a>
    </div>
}
else
{
    <p><em>Unable to generate robot with selected criterias...</em></p>
}
@*<h4><a href="/products/3" placeholder="Choose Head">Choose Head</a></h4>
<h4><a href="/products/7" placeholder="Choose Body">Choose Body</a></h4>
<h4><a href="/products/4" placeholder="Choose Left Arm">Choose Left Arm</a></h4>
<h4><a href="/products/5" placeholder="Choose Right Arm">Choose Right Arm</a></h4>
<h4><a href="/products/6" placeholder="Choose Left Leg">Choose Left Leg</a></h4>
<h4><a href="/products/2" placeholder="Choose Right Leg">Choose Right Leg</a></h4>*@
@*<EditForm Model="@product" OnValidSubmit="@HandleValidSubmit">
    <div class="mb-3 col-7">
        <label for="Name"><b>Product name</b></label>
        <input class="form-control" id="Name" @bind="@product.Name" placeholder="Name" type="text" name="Name" required>
    </div>
    <div class="mb-3">
        <label for="Description"><b>Product description</b></label>
        <textarea class="form-control" id="Description" @bind="@product.Description" placeholder="Description" name="Description" required></textarea>
    </div>
    <div class="col-2">
        <label for="Price"><b>Price</b></label>
        <input type="text" @bind="@price" class="form-control" id="Price" placeholder="Price">
    </div>
    <div class="mb-3">
        <label for="Picture"><b>Product picture</b></label>
        <input class="form-control" id="Picture" @bind="@product.Picture" placeholder="Picture" type="text" name="Picture">
    </div>
    <button type="submit" class="btn">Surinkti</button>
</EditForm>
*@
@code {
    private Product? selectedProduct;
    private CurrentUser? profile;
    private Product[]? specificProducts;
    private Robot? robotParts;
    private String[]? pictures = { "", "", "", "", "", "", "", "", "" };
    private String[]? names = { "", "", "", "", "", "", "", "", "" };
    private Double[]? prices = { 0, 0, 0, 0, 0, 0, 0, 0, 0 };



    protected override async Task OnInitializedAsync()
    {
        robotParts = await Http.GetFromJsonAsync<Robot>("api/autobuilder");
        if (robotParts == null)
        {
            return;
        }
        //Console.WriteLine(products);
        //Console.WriteLine(products.Length);
        GetRobotPart(robotParts.Body);
        Thread.Sleep(350);
        GetRobotPart(robotParts.RightArm);
        Thread.Sleep(350);
        GetRobotPart(robotParts.LeftLeg);
        Thread.Sleep(350);
        GetRobotPart(robotParts.LeftArm);
        Thread.Sleep(350);
        GetRobotPart(robotParts.RightLeg);
        Thread.Sleep(350);
        GetRobotPart(robotParts.Head);
        Thread.Sleep(350);
        profile = await Http.GetFromJsonAsync<CurrentUser>("api/currentuser");
    }
    protected async Task GetSpecificProductAsync(string category)
    {
        specificProducts = await Http.GetFromJsonAsync<Product[]>($"api/products/{category}");
    }
    protected async Task GetRobotPart(int id)
    {
        if (id != 0)
        {
            selectedProduct = await Http.GetFromJsonAsync<Product>($"api/robots/parts/{id}");
            pictures[(int)selectedProduct.Category] = selectedProduct.Picture;
            names[(int)selectedProduct.Category] = selectedProduct.Name;
            prices[(int)selectedProduct.Category] = selectedProduct.Price;
            await Task.Yield();
        }

    }
    public async Task AddToCart()
    {
        await Http.PostAsJsonAsync<Robot>("api/robots/", robotParts);
        if (robotParts.Body != 0)
        {
            await Http.PostAsJsonAsync("/api/cart/add", GetRobotPart(robotParts.Body));
        }
        if (robotParts.Head != 0)
        {
            await Http.PostAsJsonAsync("/api/cart/add", GetRobotPart(robotParts.Head));
        }
        if (robotParts.LeftArm != 0)
        {
            await Http.PostAsJsonAsync("/api/cart/add", GetRobotPart(robotParts.LeftArm));
        }
        if (robotParts.RightArm != 0)
        {
            await Http.PostAsJsonAsync("/api/cart/add", GetRobotPart(robotParts.RightArm));
        }
        if (robotParts.LeftLeg != 0)
        {
            await Http.PostAsJsonAsync("/api/cart/add", GetRobotPart(robotParts.LeftLeg));
        }
        if (robotParts.RightLeg != 0)
        {
            await Http.PostAsJsonAsync("/api/cart/add", GetRobotPart(robotParts.RightLeg));
        }

        NavManager.NavigateTo("/cart/", forceLoad: true);
    }
    //public async Task HandleValidSubmit()
    //{
    //    product.Price = Convert.ToDouble(price);
    //    await Http.PostAsJsonAsync("api/Products", product);
    //    NavManager.NavigateTo("/products", forceLoad: true);
    //}
}
