@page "/robots/swipe/{robotId:int}"
@using Blazorise
@using PSA.Shared
@inject HttpClient Http
@inject IJSRuntime JS

<PageTitle>Robot swipe with love</PageTitle>

@if (profile == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <div class="swiper">


        <div class="swipeCard">
            @if (currentCard != null)
            {
                <img src="@currentCard.ImageUrl" draggable="false" alt="Card Image" />
                <button class="info-button" @onclick:stopPropagation @onclick="() => ShowDescription(currentCard)">i</button>
                <div class="description" style="display: @(showDescription ? "block" : "none")">
                    <p>@currentCard.Description</p>
                </div>
                <div class="actions" draggable="false">
                    <button class="dislike-button" @onclick="Dislike">Dislike</button>
                    <button class="like-button" @onclick="Like">Like</button>
                </div>
            }
            else
            {
                <p>No more cards available.</p>
            }

        </div>


    </div>
    <Modal @ref="modalRef">
        <ModalContent Centered>
            <ModalHeader>
                <ModalTitle>IT IS A "MATCH"</ModalTitle>
                <CloseButton />
            </ModalHeader>
            <ModalBody>
                <Field>
                    <FieldLabel>Select date</FieldLabel>
                    <DatePicker @bind-Date="@selectedDate" TValue="DateTime?" InputMode="DateInputMode.DateTime" Placeholder="@today" TimeAs24hr="true" SelectionMode="DateInputSelectionMode.Single" />
                </Field>

            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Primary" Clicked="@HideModal">FIGHT</Button>
            </ModalFooter>
        </ModalContent>
    </Modal>

}



@code {

    [Parameter]
    public int robotId { get; set; }

    private CurrentUser? profile;
    private SwipeCard currentCard;
    private bool showDescription;
    private List<SwipeCard> allCards;
    private Modal modalRef;

    private DateTime? selectedDate;
    private string today = DateTime.Now.AddDays(1).ToString();

    private void OnDateSelected(DateTime value)
    {
        selectedDate = value;
    }

    protected override async Task OnInitializedAsync()
    {

        profile = await Http.GetFromJsonAsync<CurrentUser>("api/currentuser");
        allCards = await Http.GetFromJsonAsync<List<SwipeCard>>("/card");
        await LoadNextCard();
        var lDotNetReference = DotNetObjectReference.Create(this);
        JS.InvokeVoidAsync("GLOBAL.SetDotnetReference", lDotNetReference);

        await JS.InvokeAsync<object>("tinderSwipe");
    }
    private async Task LoadNextCard()
    {
        currentCard = allCards.FirstOrDefault();
        StateHasChanged();
        showDescription = false;
        if (currentCard != null)
        {
            allCards.Remove(currentCard);
        }
    }

    private void ShowDescription(SwipeCard card)
    {
        showDescription = !showDescription;
    }

    [JSInvokable("Dislike")]
    public async Task Dislike()
    {
        await LoadNextCard();
        StateHasChanged();
    }
    [JSInvokable("Like")]
    public async Task Like()
    {
        var response = await Http.PostAsJsonAsync($"card/swipe/{robotId}", currentCard);
        if (response.IsSuccessStatusCode)
        {
            bool result = bool.Parse(await response.Content.ReadAsStringAsync());
            if (result)
            {

            }

        }
        await modalRef.Show();
        await LoadNextCard();
        StateHasChanged();
    }

    private async Task HideModal()
    {
        Console.WriteLine($"Antras: {selectedDate.ToString()}");
        Fight fight = new Fight();
        DateTime UpdatedTime = selectedDate ?? DateTime.Now.AddDays(1);
        fight.date = UpdatedTime;
        fight.fk_robot1 = robotId;
        fight.fk_robot2 = currentCard.fk_robot;
        fight.state = 1;
        fight.winner = 0;

        await Http.PostAsJsonAsync("api/fights", fight);

        selectedDate = DateTime.Now.AddDays(1);


        await modalRef.Hide();
    }
}

